<link rel="stylesheet" href="{$wa_url}wa-content/js/farbtastic/farbtastic.css" type="text/css" />
<script type="text/javascript" src="{$wa_url}wa-content/js/farbtastic/farbtastic.js"></script>

<style type="text/css">
    {include file="../../../css/callb.css" inline}
</style>

<style>
    #plugins-settings-form {
        padding: 0 30px 30px 0;
    }
    .s-colorpicker {
        display: none;
        margin: -110px 0 0 245px;
        position: absolute;
    }
    .call-b-form {
        border-color: rgba(244, 244, 244, 1);
        border-style: solid;
        border-width: 10px 50px;
        box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3);
        float: right;
        left: 0;
        margin: 0;
        position: relative;
        top: 0;
    }
</style>

<script type="text/javascript">
    {include file="../../../js/callb.js"}
</script>

<script type="text/javascript">
(function ($) {

    callb.initModuleBackend();        

})(jQuery);
</script>

{include file="../../../../../templates/actions/plugins/PluginsSettings.html"}