{include file="../../../../../templates/actions/plugins/PluginsSettings.html"}

<script type="text/javascript" src="{$wa_url}wa-content/js/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="{$wa_url}wa-content/js/farbtastic/farbtastic.css" type="text/css" />

<style>
    #plugins-settings-form {
        padding: 0 30px 30px 0;
    }
    .s-colorpicker {
        display: none;
        margin: -110px 0 0 245px;
        position: absolute;
    }
</style>

<script type="text/javascript">
    (function ($) {

        var setColorPickerElement = function(el) {

            var color_wrapper = el.closest('.value');
            var color_picker = color_wrapper.find('.s-colorpicker');
            var color_replacer = color_wrapper.find('.s-color-replacer');
            var color_input = color_wrapper.find('.s-color');

            var farbtastic = $.farbtastic(color_picker, function(color) {
                color_replacer.find('i').css('background', color);
                color_input.val(color.substr(1));
                color_input.css('color', color);
            });

            farbtastic.setColor('#'+color_input.val());

            color_replacer.click(function() {
                color_picker.slideToggle(200);
                return false;
            });

        }

        var setColorPicker = (function(){

            var color_elements = [
                '#callb_shop_callb_style_form_background',
                '#callb_shop_callb_style_header_background',
                '#callb_shop_callb_style_header_text_color',
                '#callb_shop_callb_style_submit_background',
                '#callb_shop_callb_style_submit_hover_background',
                '#callb_shop_callb_style_submit_text_color'
            ];

            for (var i = 0; i < color_elements.length; i++) {
                setColorPickerElement( $(color_elements[i]) );
            }

        })(); 

    })(jQuery);
</script>