{if $callb_requests}
    <div id="s-callb-request-list-table-container">
        <table class="zebra single-lined" id="callb-request-list">
            <tr class="header">
                <th class="min-width">ID</th>
                <th>
                    <span title="Пользователь">
                        Пользователь
                    </span>
                </th>
                <th>
                    <span title="Имя">
                        Имя
                    </span>
                </th>
                <th>
                    <span title="Телефон">
                        Телефон
                    </span>
                </th>
                <th>
                    <span title="Дата заявки">
                        Дата заявки
                    </span>
                </th>
                <th class="min-width">
                    <span title="Статус">
                        Статус
                    </span>
                </th>
                <th></th>
            </tr>
            {foreach $callb_requests as $r}
            <tr class="callb-request {if $r.status === 'del'}gray{/if}">        
                <td class="min-width">{$r.id}</td>        
                <td class="short nowrap align-left" title="Пользователь">
                    {if $r.contact_id}
                        <a href="?action=customers#/id/{$r.contact_id}">{$r.contact_name}</a>
                        {if $r.contact_email}<span>{$r.contact_email}</span>{/if}
                    {/if}
                </td>
                <td class="short nowrap align-left" title="Имя"><span>{$r.name}</span></td>
                <td class="short nowrap align-left" title="Телефон"><span>{$r.phone}</span></td>
                <td class="short nowrap align-left" title="Дата заявки">{$r.create_datetime|wa_datetime:"humandatetime"}</td>
                <td class="short nowrap align-center" title="Статус">
                    <span>{$r.human_status}</span>
                </td>
                <td class="short nowrap align-right">
                    {if $r.status !== 'del'}
                    <a href="#" class="callb-request-delete" callb-request-id="{$r.id}">
                        <i class="icon16 delete"></i>удалить
                    </a>
                    {/if}
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

    {wa_pagination total=$pages_count attrs=['class' => "menu-h block top-padded"]}

    <script type="text/javascript">
        {include file="../../../js/callb.backend.requests.js"}
    </script>

    <script type="text/javascript">
        (function ($) {
            callbBackendRequests.initModule();
        })(jQuery);
    </script>

{else}
    <div class="block double-padded align-center gray">
        <strong>Заявки отсутствуют.</strong>
    </div>
{/if}